@import '../../styles/variables.scss' ;

.wrapper {
  background-color: $baseColorWhite;
  min-height: 350px;
  width: 100%;
  padding-top: 30px;
  padding-right: 5%;
  padding-left: 5%;
  box-shadow: 5px 0 5px 0 rgba($color: #000000, $alpha: 0.16);
  position: fixed;
  bottom: 0;
  z-index: 10000;
}

.toggle_btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: $keyColorHeavy;
  color: $baseColorWhite;
  font-size: 4.0rem;
  border-radius: 50%;
  line-height: 5.0rem;
  text-align: center;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.16);
  position: fixed;
  bottom: 90px;
  right: 5%;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.input_area{
  width: 100%;
  font-size: 1.4rem;
  padding: 14px 17px;
  border-radius: 5px;
  border: 1px solid $baseColorGrayMedium;
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn_wrapper {
  text-align: center;
}

.submit_btn {
  width: 90%;
  height: 55px;
  text-align: center;
  background-color: $keyColorHeavy;
  border-radius: 30px;
  color: $baseColorWhite;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.16);
}

.cancel_btn {
  width: 90%;
  height: 55px;
  text-align: center;
  background-color: $baseColorGrayMedium;
  border-radius: 30px;
  color: $fontColorBlack;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.10);
}