@import '../../../styles/variables';

.wrap {
  text-align: center;
  background-color: #F4F7FF;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 35px;
}
.textAreaWrap {
  width: 80%;
  margin: 0 auto;
}

.textArea {
  text-align: left;
  resize: none;
  width: 100%;
  background-color: #fff;
  min-height: 100px;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.error {
  border: solid 1px $errorColorMedium;
  background-color: $errorColorLight;
}

.errorMessage {
  color: $errorColorMedium;
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: left;
}