@import '../../../styles/variables';

.dateWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.none {
  display: none;
}

.done {
  color: #fff;
  background-color: $keyColorHeavy;
}

.doing {
  border: 2px solid $keyColorHeavy;
}