@import '../../../styles/variables';

.dateAreaWrap {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: $baseColorGrayLight;
  overflow-x: auto;
  white-space: nowrap;
}

.dateItemWrap {
  padding: 8px 17px;
  border: 1px solid $keyColorHeavy;
  border-radius: 8px;
  margin-right: 5px;
  text-align: center;
  color: $fontColorBlack;
  background-color: #fff;

  &:last-of-type {
    margin-right: 10px;
  }
}

li {
  list-style: none;
}

.dayOfWeek {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.date {
  font-size: 1.4rem;
}

.selectedDate {
  background-color: $keyColorHeavy;
  color: white;
  font-weight: bold;
}

.dateArea__margin {
  padding-right: 3px;
}