@import '../../../styles/variables';


.addBtnWrap {
  position: fixed;
  bottom: 90px;
  right: 5%;
}

.btnHide {
  display: none;
}

.emptyHabitList {
  font-size: 1.4rem;
  color: $fontColorGray;
  text-align: center;
  margin-top: 50px;
}