@import '../../styles/variables' ;

.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $baseColorGrayMedium;
  background-color: $baseColorWhite;
  font-size: 1.4rem;
  font-weight: bold;
}